---
layout: default
title: vagrant plugin lists
---
{% include header.html %}

  <div id="main">

    <h1><a href="/">Vagrant listings</a></h1>

    <p><a href="http://vagrantup.com">Vagrant</a> is an amazing tool for managing virtual machines via a simple to use command line interface. With a simple <code>vagrant up</code> you can be working in a clean environment based on a standard template.</p>

    <p> This website is simply listing every projects in an eco-system around Vagrant</p>

    <h2> Boxes </h2>

  <p><a href="http://vagrantbox.es">Boxes directory (vagrantbox.es)</a></p>

  <h2> Plugins </h2>

  <p><a href="plugins.html">Plugins listing</a></p>

{% include plugins.html %}
 
  <h2> Base Box Configs </h2>

  <p><a href="configs.html">Box configs listing</a></p>

{% include configs.html %}

{% include footer.html %}

</div>
