---
layout: default
title: vagrant plugin lists
---

  <div id="main">

    <h1><a href="/">Vagrant plugins</a></h1>

    <p><a href="http://vagrantup.com">Vagrant</a> is an amazing tool for managing virtual machines via a simple to use command line interface. With a simple <code>vagrant up</code> you can be working in a clean environment based on a standard template.</p>

    <p> Vagrant 1.1+ has a plugin infrastructure that allows 3rd party to provide feature additions <a href="http://docs.vagrantup.com/v2/plugins/index.html">Plugins</a>, and this website is simply a list of plugins.</p>

    <p>The list was last updated on {{ site.time | date_to_long_string }}.</p>
    
    <h2>Suggest a plugin</h2>

{% include report.html %}

{% include plugins.html %}

{% include footer.html %}

</div>
