  <table class="sortable hidable filterable">
      <thead>
        <tr title="▲click to sort▲"><th>Name</th><th>Version</th><th>Type</th><th>Description</th><th>Docs</th><td class="tags">Tags</td></tr>
      </thead>
      <tbody>
        {% assign plugins = site.categories.plugins | sort: 'name' %}
        {% assign versions = site.data.plugin_versions %}
        {% for plugin in plugins %}
          {% assign version = versions[plugin.name] %}
          <tr>
            <th scope="row" title="{{ plugin.link }}"><a href="{{ plugin.link }}">{{ plugin.name }}</a></th>
            <td>{{ version }}</td>
            <td>{{ plugin.type }}</td>
            <td>{{ plugin.description }}</td>
            <td class="doc" title="{{ plugin.doc }}"><a href="{{ plugin.doc }}">{{ plugin.doc | replace_first: "https://wiki.github.com/", "Wiki:"}}</a></td>
            <td class="tags">{{ plugin.tags }}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
