html{color:#000;background:#FFF}
li{list-style:none}}
a{color:#06a;text-decoration:none}
a:hover{text-decoration:underline}
a:focus{text-decoration:underline}
/* Sortable tables */
table{border-collapse:collapse;border-spacing:0}
table{margin-top:20px;width:100%;background:#f8f8f8;color:#000;border:1px solid #ccc}
table tr{border:1px solid #ddd}
table th{padding:3px 6px}
table td{padding:3px 6px}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.hidable .tags { display: none; }
