html{color:#000;background:#FFF}
div {margin: 0px;color:#333;font-family:sans-serif;background:#FFF}
li{list-style:none}}
div.listcontent {backgroupnd:#fff;margin-top:20px;padding:3px}
h1 {line-height: 200%;color:#000;font-weight:bold;font-size:50px;border-bottom:1px solid #eee}
h1 a {color: #000;text-decoration:none}
h1 a:hover{text-decoration:none}
h1 a:focus{text-decoration:none}
p a{color:#06a;text-decoration:none}
p a:hover{text-decoration:underline}
p a:focus{text-decoration:underline}

/* Sortable tables */
table{border-collapse:collapse;border-spacing:0}
table{margin-top:20px;width:100%;background:#f8f8f8;color:#000;border:1px solid #ccc}
table tr{border:1px solid #ddd}
table th{text-align:left;padding:3px 6px;color:#444}
table th a{text-decoration:none}
table td{padding:3px 6px;color:#444}
table td a{text-decoration:none}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.hidable .tags { display: none; }
div.right {text-align: right;}
div#filter {font-size: 20px;line-height: 150%;}
