<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>A list of plugins for Vagrant</title>
  <link rel="stylesheet" href="assets/css/main.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css" />
  <script src="assets/sorttable.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script type='text/javascript' src='assets/jquery.tipsy.js'></script>
  <link rel="stylesheet" href="assets/css/tipsy.css" type="text/css">
  <script>
  $(".link").tipsy();
  $(".doc").tipsy();
  $(function() {$("#tabs").tabs();});
  $(document).ready(function(){
   $(".filterable tr:has(td)").each(function(){
   var t = $(this).text().toLowerCase();
   $("<td class='indexColumn'></td>")
    .hide().text(t).appendTo(this);});
   $("#FilterTextBox").keyup(function(){
   var s = $(this).val().toLowerCase().split(" ");
   $(".filterable tr:hidden").show();
   $.each(s, function(){
   $(".filterable tr:visible .indexColumn:not(:contains('"
   + this + "'))").parent().hide(); });});});
  </script>
</head>

<body>
{{ content }}
</body>
</html>
